header.header
    .header__top.wrapper
        .header__logo
            a(href="./").logo
                img(src="./images/icon/logo.svg", alt="logo")
            span Регулярные внутригородские и пригородные пассажирские перевозки
        .header__tel
            a(href="tel:+73833801118") 
                img(src="./images/icon/phone.svg", alt="phone")
                | (383) 380-11-18
            a(href="tel:+73832551118") 
                img(src="./images/icon/phone.svg", alt="phone")
                | (383) 255-11-18
    nav.menu
        .wrapper
            ul
                li
                    a(href="./") Главная
                li
                    a(href="#") О компании
                li
                    a(href="#") Маршруты
                li
                    a(href="#") Вакансии
                li
                    a(href="#") Вопрос ответ
                li
                    a(href="#") Новости
                li
                    a(href="#") Контакты
        .menu__mobile
            .menu__burger
                span
                span
                span
            ul
                li
                    a(href="./") Главная
                li
                    a(href="#") О компании
                li
                    a(href="#") Маршруты
                li
                    a(href="#") Вакансии
                li
                    a(href="#") Вопрос ответ
                li
                    a(href="#") Новости
                li
                    a(href="#") Контакты
section.slider
    .slider__slide
        img(src="./images/decor/slider.jpg", alt="slider")
        .slider__text
            h2 Регулярные пассажирские перевозки
    .slider__slide
        img(src="./images/decor/slider.jpg", alt="slider")
        .slider__text
            h2 Регулярные пассажирские перевозки
.about.wrapper
    h1 О компании
    .text
        h1 Н1. Заголовок первого уровня. Длинный заголовок типовой страницы, нужен чтобы настроить интерлиньяж
        p Эта страница создана для демонстрации блоков и элементов, которые используются на сайте, и служит руководством для всех, кто работает над ним. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Здесь же рассказывается о некоторых общих правилах оформления контента.
        h2 H2. Многострочный заголовок, длина которого иногда бывает так некстати и переносится на следующую строку
        p Типовые элементы оформляются в системе администрирования через визуальный редактор «Kontur-CMS». Чтобы контент-менеджеру было легче в них ориентироваться, их количество лучше свести к необходимому минимуму.
        h3 H3. Делаем заголовки нарочито длинными, чтобы заголовок получился в несколько строк, убедиться в правильном интерлиньяже
        p Текст состоит из некоторого количества предложений. Одно предложение, даже очень распространённое, сложное, текстом назвать нельзя, поскольку текст можно расчленить на самостоятельные предложения, а части предложения сочетаются по законам синтаксиса сложного предложения, но не текста.
        h4 H4. В первую очередь нас интересуют интерлиньяж и отступы, но не стоит забывать и про сам заголовок
        p Типовые элементы оформляются в системе администрирования через визуальный редактор «Kontur-CMS». Чтобы контент-менеджеру было легче в них ориентироваться, их количество лучше свести к необходимому минимуму.
        h5 H5. Заголовок пятого уровня
        p Заголовок h5 используется только для вспомогательной информации, где есть вероятность появления шестого уровня разбивки. Пример — блок «Контактная информация», который внутри дробится по отделам компании.
.news
    .wrapper
        .news__title
            h2 Новости 
            a(href="#") Все новости
        .news__wrap
            .news__item
                .news__image
                    img(src="./images/decor/news-1.jpg", alt="news")
                .news__text
                    span 08.11.2020
                    a(href="#") Появился новый комфортабельный автобус “YUTONG”
                    p С этого дня поездки станут еще более комфортными, чем прежде! Прямо сейчас вам предоставляется аренда автобуса Ютонг от китайского производителя, недавно закупленного компанией «Яркоб». Это современное транспортное средство, оснащенное целым рядом технических преимуществ.
            .news__item
                .news__image
                    img(src="./images/decor/news-2.jpg", alt="news")
                .news__text
                    span 05.11.2020
                    a(href="#") Нанять надежный автобус для большого колличества пассажиров
                    p Когда необходима перевозка большого количества пассажиров, неизменно встает вопрос о подходящем транспорте. В данном случае самое простое и правильное решение – нанять автобус для перевозки людей, который позволит удобно разместить всех пассажиров и быстро довести их до места назначения.
            .news__item
                .news__image
                    img(src="./images/decor/news-3.jpg", alt="news")
                .news__text
                    span 02.11.2020
                    a(href="#") Автобусный тур по Новосибирску с 08.11.2020 по 30.11.2020
                    p Опытные гиды во время экскурсии по Новосибирску - покажут места, которыми может гордиться наш город, самые интересные, самые знаковые
footer.footer
    .footer__top.wrapper
        a(href="./").logo
            img(src="./images/icon/logo-footer.svg", alt="logo")
        .footer__adress
            img(src="./images/icon/map.svg", alt="adress")
            p 630110, г. Новосибирск ул. Писемского, 24/2
        .footer__tel
            img(src="./images/icon/phone.svg", alt="phone")
            .footer__tel_wrap
                a(href="tel:+73833801118") (383) 380-11-18
                a(href="tel:+73832551118") (383) 255-11-18
        .footer__mail
            img(src="./images/icon/mail.svg", alt="mail")
            a(href="mailto:patp1118@patp1118.ru") patp1118@patp1118.ru
    .footer__bottom
        .wrapper
            .footer__text
                p © 2020  patp1118.ru
                    a(href="#") Политика конфиденциальности
                p 
                    a(href="mailto:patp1118@patp1118.ru") patp1118@patp1118.ru 
                    | — электронная почта для обращений c вопросом о своих персональных данных, в том числе об их удалении.
            .footer__links
                .footer__links_wrap
                    a(href="#") Создание сайтов
                    a(href="#") Продвижение сайтов
                a(href="#") 
                    img(src="./images/icon/kontur.svg", alt="kontur")